<!DOCTYPE html>
<html lang="en">
<head>
 {{> Header }}
</head>
<body>
{{> Menu }}

  <section class="bannersection">
        <div class="left-side">
            <h1>Discover Lifelong Mentoring</h1>
            <div class="careerbuttons">

              <button> Career Advice</button> 
              <button>Resume Review</button>
              <button>Mock Interview</button>
            </div>
            <p>Grasp the skills you need to kick off, develop and conduct your career. Explore new skills, expand existing hobbies and get lost in creativity. What you find just might surprise and excite you.</p>
        </div>
        <div class="right-side">
            <img src="./public/images/about_banner.jpeg" alt="Image">
        </div>
  </section>


  


    <section class="testimonial">
        <h1>About the Author</h1>

        <div>
            <div class="testimonial_details">
                <h1>Anna Akhigbe</h1>
                <p>
               She is the Author and Founder of MentorCompass. She believes that the website can help students get access to mentors. She is actively interested in Data Anaysis.
                    </p>
            </div>
    
            <div class="testimonial_image">
                <img src="./public/images/second.jpeg" alt="Image">

               
            </div>
        </div>

    
       
      
        </div>
    </section>

{{> Footer }}
</body>
</html>
