    <section class="siteinfo">
        <div class="siteinfo__left">
            <img src="./public/images/logo.svg" alt="Logo">
            <h4>Contact</h4>
            <p><img src="./public/images/mail.png"> hello@mentorcompass.com</p>

            <h4>Follow Us</h4>
            <p><img src="./public/images/facebook.png"> /mentorcompass</p>

            <h4>Contact</h4>
            <p><img src="./public/images/mail.png"> /mentorcompass</p>
        </div>
        <div class="siteinfo__middle">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#Student">Student</a></li>
                <li><a href="#Mentor">Mentor</a></li>
                <li><a href="#Admin">Admin</a></li>
            </ul>
        </div>
        <div class="siteinfo__right">
           
                <h4>MentorCompass Mauritius</h4>
                <p>123 Powder Mill Road <br/> Pamplemousses Mauritius</p>
                <p><img src="./public/images/phone.png"/> +230 202 5678</p>
        </div>
    </section>

    <footer class="footersection">
        <div class="footersection__left">            
            <p>© 2023 Mentor Campass. All rights reserved.</p>
        </div>
        <div class="footersection__right">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
    </footer>