<!DOCTYPE html>
<html lang="en">
<head>
  {{> Header }}
</head>
<body>
  {{> Menu }}

    <section class="bannersection">
        <div class="left-side">
            <h1>Begin a New Stage of Your Career</h1>
            <p>Discover new skills, meet passionate mentors, and become a part of the most helpful community of creatives in the world.</p>
        </div>
        <div class="right-side">
            <img src="./public/images/bannericon.jpeg" alt="Image">
        </div>
    </section>

    <section>
        <h1>Powerful Mentors with Us</h1>

        <div class="cards">
            <div class="card">
                <img src="./public/images/first.jpeg" alt="Image">
                <div class="card-body">
                    <div class="cardcareer">
                        <button>Career</button>
                        <button>Lagos</button>
                    </div>
                    <h4>Ajibola Daniels</h4>
                    <p>Author / Entrepreneur</p>
                </div>
            </div>

            <div class="card">
                <img src="./public/images/second.jpeg" alt="Image">
                <div class="card-body">
                    <div class="cardcareer">
                        <button>Mauritius</button>
                    </div>
                    <h4>Malaika Joha</h4>
                    <p>Career Advocate</p>
                </div>
            </div>

            <div class="card">
                <img src="./public/images/third.jpeg" alt="Image">
                <div class="card-body">
                    <div class="cardcareer">
                        <button>Membership</button>
                        <button>Spain</button>
                    </div>
                    <h4>Sofia Martina</h4>
                    <p>Author / Entrepreneur</p>
                </div>
            </div>
        </div>
    </section>



    <section class="testimonial">
        <h1>Testimonials</h1>

        <div>
            <div class="testimonial_details">
                <h1>Eniola Badamusi</h1>
                <p>Mentor Campass has been a great inpact in my life. I am so glad I found it</p>
                <button>#Testimonial 1</button>
            </div>
    
            <div class="testimonial_image">
                <img src="./public/images/second.jpeg" alt="Image">

               
            </div>
        </div>

        <div>
         
    
            <div class="testimonial_image">
                <img src="./public/images/seventh.png" alt="Image">
            </div>
            <div class="testimonial_details">
                <h1>Jay Cole</h1>
                <p>Great Website! Used it a couple of times to mentor student nd it has been very helpful </p>
                <button>#Testimonial 2</button>
            </div>
        </div>
       
      
        </div>
    </section>
 
 {{> Footer }}
</body>
</html>
