    <header>
        <img src="./public/images/logo.svg" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><button><a href="/student/login">Student</a></button></li>
                <li><button><a href="/mentor/login">Mentor</a></button></li>
                <li><button><a href="/admin/login">Admin</a></button></li>
            </ul>
        </nav>
    </header>