    <header>
        <img src="./public/images/logo.svg" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><button>Student</button></li>
                <li><button>Mentor</button></li>
                <li><button>Admin</button></li>
            </ul>
        </nav>
    </header>