<html>
<head>
{{>Header}}
</head>
<body>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="email_address" placeholder="johndoe@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name to be addressed as</label>
    <input type="name" class="form-control" id="name" placeholder="John Doe">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Mentoring Opportunity you would like to participate in</label>
    <select class="form-control" id="category" placeholder="e.g. Professional Speaking (Career Advice)">
      <option>Professional Speaking (Career Advice)</option>
      <option>Good Resume Tips (Resume Review)</option>
      <option>Interview Knowabouts (Mock Interview)</option>
    </select>
  </div>
</form>
  <button type="submit" class="btn btn-primary">Add Participation</button>
</body>
</html>